<#@ template language="C#" #>
<#@ include file="Includes.ttinclude"#>
using TNRD.StateManagement.Contracts;

namespace <#= Namespace #>.Contracts
{
    public interface <#= StateMachineInterfaceName #> : IStateMachine
    {
    }
}
