<#@ template language="C#" #>
<#@ include file="../Includes.ttinclude"#>
namespace <#= Namespace #>.Utilities
{
    public sealed partial class <#= FullStateMachineName #>Controller
    {
        private void OnAwake()
        {
        }

        private void OnStart()
        {
        }

        private void OnUpdate()
        {
        }

        private void OnFixedUpdate()
        {
        }

        private void OnLateUpdate()
        {
        }
    }
}
