<#@ template language="C#" #>
<#@ include file="../Includes.ttinclude"#>
namespace <#= Namespace #>.Configurations
{
    public partial class Base<#= StateMachineName #>StateConfiguration
    {
    }
}

